/massis-sweethome3d/target/
/gpcj/target/
/massis-straightedge/target/
/massis-utils/target/
/massis-sh3d-plugins/target/
/massis-core/target/
/massis-ai-sposh/target/
/massis-app/target/
/massis-app/buildings/
massis-app/nbactions.xml
massis-app/nbactions.xml
massis-app/nbactions.xml
massis-app/nbactions.xml
*.xml
massis-app/nbactions.xml
massis-app/nbactions.xml
/massis-gui/target/