<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}/"><img src="{{ site.logo }}" alt="{{ site.title }}"></a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.sidebar %}
      {% for item in pages_list %}
        <a class="sidebar-nav-item{% if page.url == item.url %} active{% endif %}" href="{{ site.baseurl }}{{ item.url }}">{{ item.text }} </a>
      {% endfor %}


      <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub project</a>
      <a class="sidebar-nav-item" href="{{ site.baseurl }}/contact.html">Contact</a>
<!--      <span class="sidebar-nav-item">Currently v{{ site.version }}</span>
-->
    </nav>
      <p style="font-size:small">
       This work has been partially supported by the project  <a href="http://www.gsi.dit.upm.es/mosi/">MOSI-AGIL S2013/ICE-3019</a>
      </p>
      <p>
        <img src="http://i.imgur.com/idt5WlN.png" style="width:99%">
      </p>

    <p style="font-size:small">
    <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
        <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" />
    </a>
    <a><img alt="GNU GPL 3.0" style="border-width:0" src="http://www.gnu.org/graphics/gplv3-127x51.png" /></a><br /><span>MASSIS</span> by <span>Rafael Pax & Juan Pavón (UCM GRASIA)</span> is licensed under a <a rel="license" href="https://www.gnu.org/licenses/gpl-3.0.html">GNU General Public License</a>.<br />Based on a work at <a>http://www.massisframework.com</a>.
    <!-- Logos -->
   
 </p>
  </div>
</div>
