---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  {{ content }}
</div>

<!--<div class="pagination">
  {% if page.previous %}
      <a class="pagination-item newer" href="{{ page.previous.url }}">Previous</a>
  {% else %}
    <span class="pagination-item newer">Previous</span>
  {% endif %}

  {% if page.next %}
    <a class="pagination-item older" href="{{ page.next.url }}">Next</a>
  {% else %}
    <span class="pagination-item older">Next</span>
  {% endif %}
</div>-->
